<html>
<head>
    <meta charset="UTF-8">
    <title>Your Page Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: 'Roboto', sans-serif;
        color: black;
        }

        .content {
        text-align: center;
        }

        h1, h2, h3 {
        font-family: 'Roboto', sans-serif;
        }

        p {
        font-family: 'Roboto', sans-serif;
        }
        
        .btn {
        display: inline-block;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        background-color: #36454F;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.2s ease;
        }

        .btn:hover {
            background-color: gray;
        }
    </style>
</head>
<body>
    <div class="content">
    <img src="https://res.cloudinary.com/dxszregpq/image/upload/v1689765851/creatorhub_logo_suw3ci.jpg">
    <h3>Hey {{name}},</h3>
    <h3>Just wanted to let you know,</h3>
    <h3>Your new password's all set!</h3>
    <a href ="{{loginURL}}" class="btn">Login</a>
    <p>Copy and paste this link in your browser if the button is not rendering correctly <a href="{{loginURL}}">{{loginURL}}</a>
    </div>
</body>
</html>