@import url("css-components/navbar.css");
@import url("css-components/settings.css");
@import url("css-components/homepage.css");
@import url("css-components/login.css");
@import url("css-components/profile.css");
@import url("css-components/create-project.css");
@import url("css-components/post.css");

.App-header {
  background: var(--bodyBackground);
  color: var(--bodyColor);
}

.App {
  text-align: center;
  background: var(--bodyBackground);
  color: var(--bodyColor);
}

.App-link {
  color: var(--linkColor);
}

.custom-button {
  /* Use Bootstrap button styling */
  color: #333;
  background-color: #007bff;
  /*border-color: #f07bff;*/
}

.custom-button:hover {
  background-color: #f07bff;
}

.submit-button {
  background-color: #1aac83
}

.circular-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px; 
  background-color: #FFD36E; 
  border: none; 
  cursor: pointer;
}

.circular-button img {
  height: 80%; /* Adjust the height percentage as needed */
  width: 80%; /* Adjust the width percentage as needed */
  display: block;
  border-radius: 50%;
  object-fit: cover;
}


.spacer {
  width: 10px;
  /* Adjust the width as needed */
  height: 40px;
  /* Adjust the height as needed */
  display: inline-block;
  /* or use display: block; */
}

.small-spacer {
  width: 10px;
  /* Adjust the width as needed */
  height: 20px;
  /* Adjust the height as needed */
  display: inline-block;
  /* or use display: block; */
}


.very-long-spacer {
  width: 10px;
  /* Adjust the width as needed */
  height: 200px;
  /* Adjust the height as needed */
  display: inline-block;
  /* or use display: block; */
}

.extremely-long-spacer {
  width: 10px;
  /* Adjust the width as needed */
  height: 350px;
  /* Adjust the height as needed */
  display: inline-block;
  /* or use display: block; */
}

.extremely-extremely-long-spacer {
  width: 10px;
  /* Adjust the width as needed */
  height: 500px;
  /* Adjust the height as needed */
  display: inline-block;
  /* or use display: block; */
}