.App {
  text-align: center;
}

/* Bootstrap styling elements for CSS */

.btn-primary {
  background-color: #007bff;
  /* Customize the background color */
  border-color: #007bff;
  /* Customize the border color */
}

.custom-button {
  /* Use Bootstrap button styling */
  color: #333;
  background-color: #007bff;
  /*border-color: #f07bff;*/
}

.custom-button:hover {
  background-color: #f07bff;
}

.submit-button {
  background-color: #1aac83
}

.submit-button:hover {
  color: #000;
  background-color: #AFE1AF;
}

.navbar-items-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  margin-right: 300px;
}

.navbar-items-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  margin-left: 300px;
}

.navbar-items-container {
  display: flex;
  justify-content: space-between;
}


.navbar-items a,
.navbar-items-left button {
  margin-right: 30px;
  /*Adjust the spacing between items */
}

.navbar-items-right button {
  margin-right: 30px;
  /*Adjust the spacing between items */
}


.spacer {
  width: 10px;
  /* Adjust the width as needed */
  height: 40px;
  /* Adjust the height as needed */
  display: inline-block;
  /* or use display: block; */
}

.small-spacer {
  width: 10px;
  /* Adjust the width as needed */
  height: 20px;
  /* Adjust the height as needed */
  display: inline-block;
  /* or use display: block; */
}

/* Settings */

.settings-container {
  position: fixed;
  /* Fixed positioning relative to the viewport */
  top: 50;
  /* Adjust as needed to place the menu */
  right: 0;
  /* Aligns the container to the right */
  z-index: 1000;
  /* Ensures the menu overlays other content */
}

.settings-container .btn {
  border-radius: 0;
  /* This removes the border-radius */
}

.settings-overlay {
  /* Below the settings menu but above other content */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}